<IfModule mod_rewrite.c>
    RewriteEngine On

    # Aktifkan ini jika aplikasi menggunakan storage/app/public
    RewriteRule ^storage/(.*)$ storage/app/public/$1 [L]

    # Arahkan seluruh request ke folder public Laravel jika belum di folder public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>